.authors-wrapper {
  padding: 24px;
  position: relative;
}
.authors {
  margin-top: 0.1rem;
  white-space: nowrap;
  color: #707070;
  display: flex;
  align-items: center;
}

.authors-shadow {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 100%;
}
